extends ../layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-6.m-b-2 GoodCar.rent - Sign up
                form(method='POST' action='/auth/signup')
                    div.form-group
                        label(for='name') Name
                        input.form-control(type='text' id='name' placeholder='Name' name='name')
                    div.form-group
                        label(for='email') Email
                        input.form-control(type='text' id='email' placeholder='email' name='email')
                    div.form-group
                        label(for='password') Password
                        input.form-control(type='password' id='password' placeholder='password' name='password')
                    if invite
                        <!--suppress HtmlUnknownAttribute -->
                        input.d-none.form-control(type='text', id='invite', placeholder='', name='invite', value=invite)
                    else
                        input.d-none.form-control(type='text', id='isAdmin', placeholder='', name='isAdmin', value='true')
                        p Warning! Sign up is invite only. Please, obtain some invite
                    button.btn.btn-primary(type='submit') Sign up
