extends ../layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-6.m-b-2 GoodCar.rent - Sign up completed
                p User "#{user.name}"(#{user.email}) signed up successfully
